
#search {
  border-bottom: none;
}

.gu-mirror {
  list-style: none;
}

.gu-mirror.collection-item.avatar .circle {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.gu-mirror.collection-item.avatar i.circle {
  font-size: 18px;
  line-height: 42px;
  color: #fff;
  background-color: #999;
  text-align: center;
}

.gu-mirror.collection-item.avatar {
  min-height: 84px;
  padding-left: 72px;
  position: relative;
}

.gu-mirror.collection-item {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}

.gu-mirror .collection-item {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}

.gu-mirror .collection-item.avatar .title {
  font-size: 16px;
}

.gu-mirror .collection-item {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}

.gu-mirror.collection-item.avatar .secondary-content {
  position: absolute;
  top: 16px;
  right: 16px;
}

.gu-mirror.collection-item.avatar p {
  margin: 0;
}

.gu-mirror.collection-item.avatar .title {
  font-size: 16px;
}

