<div class="row">
  <bc-feature-requests-filter
    [(filter)]="filter"
    (filterChanged)="onFilterChanged()"
    [clients]="clients"
    [users]="users"
    [productAreas]="productAreas"
  ></bc-feature-requests-filter>
  <bc-feature-requests-table
    [(filter)]="filter"
    (pageChanged)="onPageChanged()"
    (details)="onDetails($event)"
    [featureRequests]="featureRequests"
    [resetPage]="resetPage"
    [total]="total"
    [clients]="clients"
    [users]="users"
    [productAreas]="productAreas"
  ></bc-feature-requests-table>
</div>
