<div class="row">
  <!--<div class="col s12" style="margin-top: 10px">-->
    <!--<nav>-->
      <!--<div class="blue nav-wrapper">-->
        <!--<ul id="nav-mobile" class="left">-->
          <!--<li [ngClass]="isActive(2)"><a (click)="openFilter()"><i class="material-icons hide-on-small-and-down left">info_outline</i>-->
            <!--Open</a>-->
          <!--</li>-->
          <!--<li [ngClass]="isActive(1)"><a (click)="closedFilter()"><i class="material-icons hide-on-small-and-down left">highlight_off</i>-->
            <!--Closed</a></li>-->
        <!--</ul>-->
        <!--<ul id="nav-mobile-right" class="right">-->
          <!--<li><a (click)="showFilterNav = !showFilterNav"><i class="material-icons hide-on-small-and-down left">filter_list</i>Filter</a>-->
          <!--</li>-->
          <!--<li><a class='dropdown-button sort' materialize="dropdown" data-beloworigin="true" data-constrainwidth="false"-->
                 <!--data-activates='sort'><i class="material-icons left hide-on-small-and-down">sort</i>Sort</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</nav>-->
    <!--<nav [ngStyle]="isFilterHidden()">-->
      <!--<div class="blue darken-1 nav-wrapper">-->
        <!--<ul id="nav-mobile-clear" class="left">-->
          <!--<li><a (click)="clearFilter()"><i class="material-icons right hide-on-small-and-down">close</i>Clear</a></li>-->
        <!--</ul>-->
        <!--<ul id="nav-mobile-filter" class="right">-->
          <!--<li><a style="font-size: smaller" class='dropdown-button filter-employ' materialize="dropdown"-->
                 <!--data-beloworigin="true" data-constrainwidth="false" data-activates='filter_employ'><i-->
            <!--class="material-icons right hide-on-small-and-down">arrow_drop_down</i>Employ</a></li>-->
          <!--<li><a style="font-size: smaller" class='dropdown-button filter-product-area' materialize="dropdown"-->
                 <!--data-beloworigin="true" data-constrainwidth="false" data-activates='filter_productArea'><i-->
            <!--class="material-icons right hide-on-small-and-down">arrow_drop_down</i>Product Area</a></li>-->
          <!--<li><a style="font-size: smaller" class='dropdown-button filter-client' materialize="dropdown"-->
                 <!--data-beloworigin="true" data-constrainwidth="false" data-activates='filter_client'><i-->
            <!--class="material-icons right hide-on-small-and-down">arrow_drop_down</i>Client</a></li>-->
          <!--<li><a style="font-size: smaller" class='dropdown-button filter-priority' [ngStyle]="showPriorityFilter()"-->
                 <!--materialize="dropdown" data-beloworigin="true" data-constrainwidth="false"-->
                 <!--data-activates='filter_priority'><i-->
            <!--class="material-icons right hide-on-small-and-down">arrow_drop_down</i>Priority</a></li>-->
          <!--&lt;!&ndash; Dropdown Structure &ndash;&gt;-->
        <!--</ul>-->
      <!--</div>-->
    <!--</nav>-->
  <!--</div>-->
  <!--<div class="col s12">-->
    <!--<blockquote><i style="font-size: small;" [innerHTML]="getFilterSummary()"></i></blockquote>-->
  <!--</div>-->
  <!--<div id='filter_employ' class='dropdown-content' style="width: 100%;">-->
    <!--<nav>-->
      <!--<div class="white black-text lighten-2  nav-wrapper">-->
        <!--<form>-->
          <!--<div class="input-field">-->
            <!--<input id="search" type="search" placeholder="Search employees" name="search" [(ngModel)]="employSearch">-->
            <!--<label for="search"><i class="material-icons black-text">search</i></label>-->
            <!--<i class="material-icons" (click)="employSearch=''">close</i>-->
          <!--</div>-->
        <!--</form>-->
      <!--</div>-->
    <!--</nav>-->
    <!--<ul class="collection with-header">-->
      <!--<li class="collection-item" (click)="filterByUser(user.id)" [ngClass]="{'active':filter.employ === user.id}"-->
          <!--*ngFor="let user of (users |filter:['username',employSearch]).slice(0,6)">-->
        <!--<div>{{user.username}}</div>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<div class="black-text center">{{(users |filter:['username',employSearch]).slice(0,6).length}}/{{users.length}}-->
    <!--</div>-->

  <!--</div>-->
  <!--<div id='filter_productArea' class='dropdown-content' style="width:  100%;">-->
    <!--<nav>-->
      <!--<div class="white black-text  nav-wrapper">-->
        <!--<form>-->
          <!--<div class="input-field">-->
            <!--<input id="search" type="search" placeholder="Search product areas" name="search"-->
                   <!--[(ngModel)]="productAreaSearch">-->
            <!--<label for="search"><i class="material-icons black-text">search</i></label>-->
            <!--<i class="material-icons" (click)="productAreaSearch=''">close</i>-->
          <!--</div>-->
        <!--</form>-->
      <!--</div>-->
    <!--</nav>-->
    <!--<ul class="collection with-header">-->
      <!--<li class="collection-item" (click)="filterByProductArea(pa.id)"-->
          <!--[ngClass]="{'active':filter.product_area === pa.id}"-->
          <!--*ngFor="let pa of (productAreas |filter:['name',productAreaSearch]).slice(0,6)">-->
        <!--<div>{{pa.name}}</div>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<div class="black-text center">{{(productAreas-->
      <!--|filter:['name',productAreaSearch]).slice(0,6).slice(0,6).length}}/{{productAreas.length}}-->
    <!--</div>-->

  <!--</div>-->
  <!--<div id='filter_client' class='dropdown-content' style="width: 100%;">-->
    <!--<nav>-->
      <!--<div class="white black-text nav-wrapper">-->
        <!--<form>-->
          <!--<div class="input-field">-->
            <!--<input id="search" type="search" placeholder="Search clients" name="search" [(ngModel)]="clientSearch">-->
            <!--<label for="search"><i class="material-icons black-text">search</i></label>-->
            <!--<i class="material-icons" (click)="clientSearch=''">close</i>-->
          <!--</div>-->
        <!--</form>-->
      <!--</div>-->
    <!--</nav>-->
    <!--<ul class="collection with-header">-->
      <!--<li class="collection-item" (click)="filterByClient(c.id)" [ngClass]="{'active':filter.client === c.id}"-->
          <!--*ngFor="let c of (clients |filter:['name',clientSearch]).slice(0,6)">-->
        <!--<div>{{c.name}}</div>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<div class="black-text center">{{(clients |filter:['name',clientSearch]).slice(0,6).length}}/{{clients.length}}-->
    <!--</div>-->

  <!--</div>-->
  <!--<div id='filter_priority' class='dropdown-content' style="width:  100%;">-->
    <!--<div class="row">-->
      <!--<ul class="collection with-header">-->
        <!--<li class="collection-item" (click)="filterClientPriority('asc')"-->
            <!--[ngClass]="{'active':filter.priority_dir === 'asc'}">-->
          <!--<div>Ascending</div>-->
        <!--</li>-->
        <!--<li class="collection-item" (click)="filterClientPriority('desc')"-->
            <!--[ngClass]="{'active':filter.priority_dir === 'desc'}">-->
          <!--<div>Descending</div>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div id='sort' class='dropdown-content' style="width:  100%;">-->
    <!--<div class="row">-->
      <!--<ul class="collection with-header">-->
        <!--<li class="collection-item" (click)="sort('updated_at','desc')"-->
            <!--[ngClass]="{'active':(filter.field === 'updated_at' && filter.dir === 'desc')}">-->
          <!--<div>Recently updated</div>-->
        <!--</li>-->
        <!--<li class="collection-item" (click)="sort('updated_at','asc')"-->
            <!--[ngClass]="{'active':(filter.field === 'updated_at' && filter.dir === 'asc')}">-->
          <!--<div>Least recently updated</div>-->
        <!--</li>-->
        <!--<li class="collection-item" (click)="sort('created_at','desc')"-->
            <!--[ngClass]="{'active':(filter.field === 'created_at' && filter.dir === 'desc')}">-->
          <!--<div>Newest</div>-->
        <!--</li>-->
        <!--<li class="collection-item" (click)="sort('created_at','asc')"-->
            <!--[ngClass]="{'active':(filter.field === 'created_at' && filter.dir === 'asc')}">-->
          <!--<div>Oldest</div>-->
        <!--</li>-->
        <!--<li class="collection-item" (click)="sort('target_date','desc')"-->
            <!--[ngClass]="{'active':(filter.field === 'target_date' && filter.dir === 'desc')}">-->
          <!--<div>Target date descending</div>-->
        <!--</li>-->
        <!--<li class="collection-item" (click)="sort('target_date','asc')"-->
            <!--[ngClass]="{'active':(filter.field === 'target_date' && filter.dir === 'asc')}">-->
          <!--<div>Target date ascending</div>-->
        <!--</li>-->
        <!--<li class="collection-item" (click)="sort('title_normalized','asc')"-->
            <!--[ngClass]="{'active':(filter.field === 'title_normalized' && filter.dir === 'asc')}">-->
          <!--<div>By Title ascending</div>-->
        <!--</li>-->
        <!--<li class="collection-item" (click)="sort('title_normalized','desc')"-->
            <!--[ngClass]="{'active':(filter.field === 'title_normalized' && filter.dir === 'desc')}">-->
          <!--<div>By Title descending</div>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
  <bc-feature-requests-filter
    [(filter)]="filter"
    (filterChanged)="onFilterChanged()"
    [clients]="clients"
    [users]="users"
    [productAreas]="productAreas"
  ></bc-feature-requests-filter>
  <bc-feature-requests-table
    [(filter)]="filter"
    (pageChanged)="onPageChanged()"
    (details)="onDetails($event)"
    [featureRequests]="featureRequests"
    [resetPage]="resetPage"
    [total]="total"
    [clients]="clients"
    [users]="users"
    [productAreas]="productAreas"
  ></bc-feature-requests-table>
  <!--<div class="col s12">-->
    <!--<h6 *ngIf="featureRequests.length === 0">No feature requests</h6>-->
    <!--<ul class="collection">-->
      <!--<li class="collection-item avatar " *ngFor="let request of featureRequests">-->
        <!--<i class="material-icons circle green lighten-2" (click)="details(request.id)" *ngIf="!request.closed">info_outline</i>-->
        <!--<i class="material-icons circle red lighten-2" (click)="details(request.id)" *ngIf="request.closed">highlight_off</i>-->
        <!--<span class="title"><a (click)="details(request.id)">{{request.title}}</a></span><br/>-->
        <!--<p><a [href]="request.ticket_url" target="_blank"> {{request.ticket_url}}</a></p>-->
        <!--<p><i>-->
          <!--<small>Opened {{getDate(request.created_at) }} by <b>{{getEmployUsername(request.employ_id)}}</b></small>-->
        <!--</i></p>-->
        <!--<div class="chip" *ngFor="let cl of request.clients">-->
          <!--<div class="priority red lighten-1  center white-text">{{cl.priority}}</div>-->
          <!--{{getClientName(cl.client_id)}}-->
        <!--</div>-->
        <!--<div class="secondary-content">-->
          <!--<blockquote class="hide-on-small-and-down" *ngIf="!request.closed">-->
            <!--Due: {{getDate(request.target_date)}}-->
          <!--</blockquote>-->
          <!--<blockquote class="hide-on-small-and-down" *ngIf="request.closed">-->
            <!--Closed: {{getDate(request.updated_at)}}-->
          <!--</blockquote>-->

        <!--</div>-->
        <!--&lt;!&ndash;<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>&ndash;&gt;-->
        <!--&lt;!&ndash;todo add coments here&ndash;&gt;-->
      <!--</li>-->
    <!--</ul>-->
    <!--<ul class="pagination" *ngIf="featureRequests.length !== 0">-->
      <!--<li class="disabled" [ngClass]="{'disabled':currentPage === 1,'waves-effect':currentPage!== 1}"-->
          <!--(click)="goToPage(currentPage-1)"><a><i class="material-icons">chevron_left</i></a></li>-->
      <!--<li [ngClass]="{'active':(i+1)===currentPage,'waves-effect':(i+1)!==currentPage}" *ngFor="let i of totalPages()"-->
          <!--(click)="goToPage(i+1)"><a> {{i+1}}</a></li>-->
      <!--<li-->
        <!--[ngClass]="{'disabled':currentPage === totalPages().length,'waves-effect':currentPage !== totalPages().length}"-->
        <!--(click)="goToPage(currentPage+1)"><a><i class="material-icons">chevron_right</i></a></li>-->
    <!--</ul>-->
  <!--</div>-->
</div>
