
.card {
  margin: 0;
}
/*.tabs .tab a {*/
  /*color: #03a9f4;*/
/*}*/
/*.tabs .tab.disabled a {*/
  /*color: #8ce4f4;*/
  /*cursor: default;*/
/*}*/

.no-box-shadow {
  box-shadow: none;
}
.chip .priority {
  float: left;
  margin: 0 8px 0 -12px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.picker__date-display{

}
